mixin product-grid(products)
  .row
    each item in products
      .col-lg-4.col-md-6.col-sm-12.mb-4
        .product-item
          .inner-image
            a(href=`/product/detail/${item.slug}`)
              img(src=item.thumbnail, alt=item.title)
            if(item.featured == "1")
              .inner-featured Nổi bật
          .inner-content
            h3.inner-title
              a(href=`/product/detail/${item.slug}`) #{item.title}
            .d-flex.align-items-center.flex-wrap.mt-2
              .inner-price-new #{item.priceNew}$
              if item.price && item.price > item.priceNew
                .inner-price-old #{item.price}$
                .inner-discount -#{item.discountPercentage}%